*{
    background-color:#081b29;
    font-family: Arial, Helvetica, sans-serif;

}
div:hover{
    /* border:2px,solid,white; */
}
.navbar{
    height: 20%;
    display: flex;
    align-items: center;
    border: none;
}
.logo{
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-weight: 900;
    color: #00abf0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width: 800px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 30%;
}
#anc{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 60px;
    font-weight: 800;
    
}


#anc:hover{
    text-decoration: underline;
}
.maincontent{
    height: 100%;
    width: 100%;
    display: flex;
   
}
.written{
    height: 500px;
    width: 50%;
    display: flex;
    align-items: center;
    
}
.insidewrit{
    height: 80%;

}
h2{
    color: #00abf0;

}
h1{
    color: whitesmoke;
}
p{
    color: #00abf0;
}
p:hover{
    text-decoration: dotted;
    
}
#icons{
    color: whitesmoke;
    font-size: 30px;
    margin: 20px;
}
#icons:hover{
    font-size: 40px;
transition-duration: 0.1s;
}

.pic{

width:50%;
}
}

 /* about me page    */
#aboutme{
    color: white;
    font-size: 20px;
}
#habout{
    color: #00abf0;
}
/* portfolio */
.bigarrange{
    display: flex;

}
.arrange{
    height: 80vh;
    width: 50%;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items: center; */
}
#h4{
    color: #00abf0;
}
ul{
    color:white;

}
.arrange2{
    height: 80vh;
    width: 50%;
}
.education
{
    border:2px,dotted,white;
    width: 80%;
    margin-bottom: 50px;
    height: 150px;
}
.projects{
    width:80% ;
    border:2px,dotted,white;
    height: 150px;

}
.project2{
    width:80% ;
    border:2px,dotted,white;
    margin-bottom: 50px;
    height: 150px;

}
.skills
{
    width:80% ;
    border:2px,dotted,white;
    height: 150px;

}
h4{
   color: #00abf0; 
}
p{
    color: white;
}
.bigdiv{
    height: 80vh;
    width: 100%;
    display: flex;
    font-size: 20px;
}
.smalldiv{
    width: 50%;
}
.border{
    height: 150px;
    border: 2px,dotted,white;
    margin: 50px;
    width: 300px;
}